
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: civoclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: CivoCluster
    listKind: CivoClusterList
    plural: civoclusters
    singular: civocluster
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: CivoCluster is the Schema for the civoclusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CivoClusterSpec defines the desired state of CivoCluster
            properties:
              config:
                description: Config represents Civo Kubernetes cluster config
                properties:
                  applications:
                    type: string
                  firewall_rule:
                    type: string
                  instance_firewall:
                    type: string
                  kubernetes_version:
                    type: string
                  name:
                    type: string
                  network_id:
                    type: string
                  node_destroy:
                    type: string
                  num_target_nodes:
                    type: integer
                  pools:
                    items:
                      description: KubernetesClusterPoolConfig is used to create a
                        new cluster pool
                      properties:
                        count:
                          type: integer
                        id:
                          type: string
                        size:
                          type: string
                      type: object
                    type: array
                  region:
                    type: string
                  tags:
                    type: string
                  target_nodes_size:
                    type: string
                type: object
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              id:
                description: ID represents cluster identifier
                type: string
            type: object
          status:
            description: CivoClusterStatus defines the observed state of CivoCluster
            properties:
              ready:
                description: Ready denotes that the cluster (infrastructure) is ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
